*{
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000000;
    margin: 0;
}

.star-wars{
    margin: 0 auto;
    position: absolute;
    width: 98%;
    height: 50em;
    bottom: 0;
    font-size: 100px;
    font-weight: bold;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(350px) rotateX(25deg);
    color: gold;
}

.crowl-text{
    position: absolute;
    top: 100%;
    animation: scroll 30s linear 1s infinite;
}

.title{
    text-align: center;
}

.blackout{
    position: relative;
    width: 100%;
    min-height: 50vh;
    top: 0;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
  }

@keyframes scroll{
    0% { top: 100%;}
    100% { top: -170%;}
}

.audio-star-wars{
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    opacity: 0.1;
}
